body{
    background-color: rgb(32, 163, 206);
}


.card-body{
    background-color: white;
    border-radius: 10px;
    margin: 10px;
}

#jumbo{
    margin-left: 60px;
}

li{
    list-style-type: none;
    font-weight:bolder;
    font-size: large;
}